[Unit]
Description=TOLGA - Web Services Dynamic Discovery host daemon
Documentation=man:wsdd(8)
; Start after the network has been configured
After=network-online.target
Wants=network-online.target
; It makes sense to have Samba running when wsdd starts, but is not required.
; Thus, the next to lines are disabled and use BindsTo only.
; One may also add any of these services to After for stronger binding.
BindsTo=smb.service
;BindsTo=samba.service

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/wsdd --interface $(iw dev | awk "/Interface/ {print \$2; exit}")'
DynamicUser=yes
User=wsdd
Group=wsdd
RuntimeDirectory=wsdd
AmbientCapabilities=CAP_SYS_CHROOT

[Install]
WantedBy=multi-user.target

# Location: /usr/lib/systemd/system/wsdd.service
# sudo systemctl daemon-reload && sudo systemctl restart wsdd && systemctl status wsdd.service