# Metadata
# ----------------------------------------------------------------------------
# AUTHOR="Tolga Erok"
# VERSION="1"
# DATE_CREATED="21/12/2024"

# Setup
# ----------------------------------------------------------------------------
# mkdir -p ~/.config/autostart/
# nano ~/.config/autostart/clear_temp_slowdowns_at_login.desktop

# Configuration
# ----------------------------------------------------------------------------
[Desktop Entry]
Type=Application
Exec=~/clear-temp.sh
Hidden=false
NoDisplay=false
X-KDE-Autostart-enabled=true
Name=Clear Temporary Slowdowns at Login
Comment=Clears temporary slowdowns on user login

