# Metadata
# ----------------------------------------------------------------------------
# AUTHOR="Tolga Erok"
# VERSION="1"
# DATE_CREATED="21/12/2024"

# Setup
# ----------------------------------------------------------------------------
# sudo nano /etc/systemd/system/clear_temp_slowdowns_after_sleep.service
# sudo systemctl enable clear_temp_slowdowns_after_sleep.service

# Configuration
# ----------------------------------------------------------------------------
[Unit]
Description=Clear Temporary Slowdowns After Sleep
After=suspend.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=~/clear_temp_slowdowns.sh
RemainAfterExit=yes

[Install]
WantedBy=suspend.target

# To stop and delete my service
# ---------------------------------------------------------------
# sudo systemctl stop clear_temp_slowdowns_after_sleep.service
# sudo systemctl disable clear_temp_slowdowns_after_sleep.service
# sudo rm /etc/systemd/system/clear_temp_slowdowns_after_sleep.service
# sudo systemctl daemon-reload
# sudo systemctl list-unit-files | grep clear_temp_slowdowns_after_sleep



