# Metadata
# ----------------------------------------------------------------------------
# AUTHOR="Tolga Erok"
# VERSION="1"
# DATE_CREATED="21/12/2024"

# Setup
# ----------------------------------------------------------------------------
# sudo nano /etc/systemd/system/clear_temp_slowdowns_at_boot.service
# sudo systemctl enable clear_temp_slowdowns_at_boot.service
# sudo systemctl start clear_temp_slowdowns_at_boot.service

# Configuration
# ----------------------------------------------------------------------------
[Unit]
Description=Clear Temporary Slowdowns at Boot
After=network.target

[Service]
Type=oneshot
ExecStart=~/clear_temp_slowdowns.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

# To stop and delete my service
# ---------------------------------------------------------------
# sudo systemctl stop clear_temp_slowdowns_at_boot.service
# sudo systemctl disable clear_temp_slowdowns_at_boot.service
# sudo rm /etc/systemd/system/clear_temp_slowdowns_at_boot.service
# sudo systemctl daemon-reload
# sudo systemctl list-unit-files | grep clear_temp_slowdowns_at_boot


