[Desktop Entry]
Comment[en_AU]=Tolgas Online Fedora Tweaker | Launches My Online Fedora in Konsole
Comment=Tolgas Online Fedora Tweaker | Launches My Online Fedora in Konsole
Exec=konsole --noclose -e /bin/bash -c "$HOME/.config/MY-TOOLS/assets/scripts/my-online-fedora/f39.sh; exec bash"
GenericName[en_AU]=Tolgas Online Fedora Tweaker
GenericName=
Icon=$HOME/.config/MY-TOOLS/images/tolga-profile-5.png
MimeType=
Name[en_AU]=My Post Fedora installer
Name=My Post Fedora installer
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
